# Imagens do README
img/

# Módulo 01
Conceitos/Dominando Node.js!/node_modules/
Conceitos/Dominando Node.js!/.vscode/
Conceitos/Dominando Node.js!/yarn.lock

# Desafios
desafios/desafio01/node_modules/
desafios/desafio01/yarn.lock

# GoBarber
GoBarber/backend/node_modules/
GoBarber/backend/yarn.lock