# Imagens do README
img/

# Módulo 01
Conceitos/Dominando Node.js!/node_modules/
Conceitos/Dominando Node.js!/.vscode/
Conceitos/Dominando Node.js!/yarn.lock

# Módulo 04
Conceitos/Introdução ao React/node_modules/
Conceitos/Introdução ao React/.vscode/
Conceitos/Introdução ao React/yarn.lock

# Modulo 05
Conceitos/Primeiro projeto com ReactJS/node_modules/
Conceitos/Primeiro projeto com ReactJS/yarn.lock

# Desafios
Desafios/desafio01/node_modules/
Desafios/desafio01/yarn.lock

# GoBarber
GoBarber/backend/node_modules/
GoBarber/backend/yarn.lock
